<h1>FAQ Page</h1>
<ul>	
 <li><b>Abrakadabra?</b> Yes, there is!</li>
 <li><b>Which came first: the chicken or the egg?</b> T-Rex!</li>
 <li><b>How do I contact support?</b> Email us - <a href="mailto:pivojoppin@gmail.com">pivojoppin@gmail.com</a></li>	
</ul>